:root {
  --main-title-color: #ffffff;
  --second-title-color: #212121;
  --main-text-color: #757575;
  --accent-color: #2196f3;
  --logo-text-color: #000000;
  --background-origin: #ffffff;
  --background-footer: #2f303a;
  --background-team: #f5f4fa;
  --background-hero: #2f303a;

  --filter-gap: 30px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--main-text-color);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* .list {
  list-style: none;
} */

.link {
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/*--------------header------------*/

.header {
  border-bottom: 1px solid #eeeeee;
  background-color: var(--background-origin);
}
.header-list,
.header-navigation {
  display: flex;
  align-items: center;
}

.header-list {
  margin-left: auto;
}

.header-container {
  display: flex;
}

.header-item:not(:last-child) {
  margin-right: 50px;
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.33;
  letter-spacing: 0.02em;
  color: var(--second-title-color);
}

.header-logo {
  margin-right: 93px;

  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.studio {
  color: var(--logo-text-color);
}

.header-mail,
.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.header-contact:not(:last-child) {
  margin-right: 50px;
}

.header-logo,
.header-link,
.header-tel,
.header-mail {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}

.carend {
  color: var(--accent-color);
}

/*---------------hero------------------*/

.hero {
  padding: 200px 0px;

  background-color: var(--background-hero);
}

.hero-title {
  margin: auto;
  margin-bottom: 30px;
  max-width: 696px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-title-color);
}

.hero-button {
  width: 200px;
  height: 50px;
  margin: auto;

  align-items: center;
  display: block;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--main-title-color);
  background-color: var(--accent-color);
}

.hero-button:focus,
.hero-button:hover {
  color: var(--main-title-color);
  background-color: var(--accent-color);
}
/*--------------excellence---------------------*/

.excellence {
  background-color: var(--background-origin);
}

.excellence-item:not(:last-child) {
  margin-right: 30px;
}

.excellence-list {
  display: flex;
}

.excellence-text {
  max-width: 270px;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.excellence-head {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-title-color);
}

/*-----------------------work---------------------------*/

.work {
  padding-top: 0;
  background-color: var(--background-origin);
}

.work-list {
  display: flex;
}

.work-title {
  margin-bottom: 50px;

  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}

.work-item:not(:last-child) {
  margin-right: 30px;
}

/*-----------------------team---------------------------*/

.team {
  background-color: var(--background-team);
}

.team-list {
  display: flex;
}

.team-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.team-item-title {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}

.team-card {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-item {
  box-shadow: 10px 10px 8px 2px rgba(0, 0, 0, 0.3);
  background-color: var(--background-origin);
}

.team-item:not(:last-child) {
  margin-right: 30px;
}

.team-title {
  margin-bottom: 50px;

  font-size: 36px;
  line-height: 1.31;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}
/*----------------------footer--------------------------*/

.footer {
  padding: 60px 0;

  background-color: var(--background-footer);
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-address {
  color: var(--main-title-color);
}

.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}

.footer-logo {
  display: block;
  margin-bottom: 20px;

  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.studio-footer {
  color: var(--main-title-color);
}

.footer-address {
  font-size: normal;
}

/*-----------------------------------portfolio----------------------------------*/

.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

.filter-button {
  border: transparent;
  border-radius: 4px;
  padding: 6px 22px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}
.filter-button:hover,
.filter-button:focus {
  color: var(--main-title-color);
  background-color: var(--accent-color);
}

.filter-img-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.filter-img-title {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-title-color);
}

.filter-img-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: calc(-1 * var(--filter-gap));
  margin-bottom: calc(-1 * var(--filter-gap));
}

.filter-img-list > .filter-img-item {
  flex-basis: calc(100% / 3 - var(--filter-gap));

  margin-right: var(--filter-gap);
  margin-bottom: var(--filter-gap);
}

.card-content {
  border: 1px solid #eeeeee;
  border-top: none;
  padding: 20px 24px;
}
